.DS_Store
.vscode/
data/
models/
tmp/
MiCoGPT.egg-info/
notebooks/.ipynb_checkpoints/
MiCoGPT/__pycache__/
MiCoGPT/utils/__pycache__/
MiCoGPT/utils/archive/
notebooks/DNABERT-S/data/
notebooks/archive/
outputs/
